.btn-cadastro{
    background-color: steelblue;
    color: #ffff;
}

.btn-cadastro:hover{
    background-color: black;
    color: #ffff;
}

.cliente-cad {
    background-color: dimgray;
    color: black;
    width: 30%;
    padding: 3%;
    max-width: 650px;
}